SUBSYSTEM=="usb", ATTRS{idVendor}=="52cb", ATTRS{idProduct}=="52cb", MODE="0777"
SUBSYSTEM=="usb", ATTRS{idVendor}=="04b4", ATTRS{idProduct}=="52cb", MODE="0777"
